# Default values for helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
image:
  repository: moudrick
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v1.7.0-2a96d6b"
  pullPolicy: Always
  # Always, IfNotPresent, Never
secret:
  env: TELE_TOKEN
  key: token
  name: kbot
